:root {
  --my-border: 0.125rem solid #293a28;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  box-shadow: 0 0 0.25rem #222222;
}

.box {
  outline: none;
  border: 0;
  background-color: rgba(186, 196, 162, 0.6);
  font-size: 3rem;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(4),
.box:nth-child(5) {
  border-right: var(--my-border);
  border-bottom: var(--my-border);
}

.box:nth-child(3),
.box:nth-child(6) {
  border-bottom: var(--my-border);
}

.box:nth-child(7),
.box:nth-child(8) {
  border-right: var(--my-border);
}
